<header>
        <h2>NAAM APP</h2>
        <!-- button -->
    </header>
    
    <main>
        <section>
            
            <div class="flex-space-between">
                <h3>Filter op leeftijd {{ data.age }}</h3>
                <button class="sidebar-handler">Filter</button>
            </div>

            <div class="flex-div">

                {{!-- {{#each data}} --}}
                <article>
                    <img class="image" src="img/bejaarden-man.jpg">
                    <blockquote>
                        <p><strong>Naam:</strong> {{ data.name }}</p>
                        <span><strong>Leeftijd:</strong> {{ data.age }}</span>
                        <span><strong>Geslacht:</strong> {{ data.sex }}</span>
                        <span><strong>Hobby:</strong> {{ data.hobby }}</span>
                    </blockquote>
                </article>
                {{!-- {{/each}} --}}
            </div>
        </section>


        <aside class="sidebar">
            <div class="flex-space-between">
              <h3 class="padding-bottom-2">Filter opties</h3>
              <p class="close-handler">Close</p>
            </div>

            <form class="sidebar-form" action="/filtered" method="POST"> 
                <div>
                    <label for="age-filter">Voer gewenste leeftijd in</label>
                    <input type="text" id="age-filter" name="age">
                </div>

                <button type="submit">Submit</button>
            </form>

        </aside>
    </main>

    <footer></footer>